@using BeltExam.Models;
@model Campaign;


<div class="row justify-content-around">
    <h1 class="col-6">Dojo Activity Center</h1>
    <a asp-action="Dashboard">Dashboard</a>
    <a asp-action="Logout">Log Out</a>
</div>
<hr>
<br>
<div class="row justify-content-around">
    <h1 class="col-7">@Model.Title</h1>
    @if (Model.Attendees.Any(p => p.Attendee.UserId == ViewBag.UserId))
    {
        <td><a class="col-2 btn btn-danger" asp-action="unrsvp" asp-route-userId="@ViewBag.UserId" asp-route-campaignId="@Model.CampaignId" asp-route-source="camp">Leave</a></td>
    }
    else if (Model.Planner.UserId == ViewBag.UserId)
    {
        <td><a class="col-2 btn btn-danger" asp-action="cancel" asp-route-campaignId="@Model.CampaignId">Cancel</a></td>
    }
    else
    {
        <td><a class="col-2 btn btn-success" asp-action="rsvp" asp-route-userId="@ViewBag.UserId" asp-route-campaignId="@Model.CampaignId" asp-route-source="camp">Join</a></td>
    }
</div>
<br><br>

<h3>Event Coordinator: @Model.Planner.FirstName @Model.Planner.LastName</h3>
<br>
<h3>Description: @Model.Description</h3>
<br>
<ul class="col-4"><h4>Participants:</h4>
    @foreach (Particpant p in Model.Attendees)
    {
    <li>@p.Attendee.FirstName @p.Attendee.LastName</li>
    }
</ul>
